<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.devsouza.ExternalApp"
        version="0.7.0">

  <name>ExternalApp</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/externalapp.js" target="js/externalapp.js"/>

  <js-module src="www/externalapp.js" name="externalapp">
    <clobbers target="externalapp" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="ExternalApp">
        <param name="ios-package" value="HWPExternalApp" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPExternalApp.h" target-dir="ExternalAppPlugin"/>
    <source-file src="src/ios/HWPExternalApp.m" target-dir="ExternalAppPlugin"/>
  </platform>

</plugin>